__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

venv/
.env/
.venv/
env/
ENV/

.env
*.key.json
*.pem
*.crt

airflow.db
airflow.cfg
logs/
dags/__pycache__/


.ipynb_checkpoints/


data/*.json
!data/*.csv
!data/*.sample.json


.DS_Store
Thumbs.db
.vscode/
.idea/

.coverage
.cache/
htmlcov/
